<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <filter>
    <filter-name>BrotliFilter</filter-name>
    <filter-class>org.meteogroup.jbrotli.servlet.BrotliServletFilter</filter-class>
    <!-- all parameters are optional -->
    <init-param>
      <param-name>brotli.compression.parameter.quality</param-name>
      <param-value>5</param-value>
    </init-param>
    <!--
    <init-param>
      <param-name>brotli.compression.parameter.mode</param-name>
      <param-value>generic</param-value>
    </init-param>
    <init-param>
      <param-name>brotli.compression.parameter.lgwin</param-name>
      <param-value>22</param-value>
    </init-param>
    <init-param>
      <param-name>brotli.compression.parameter.lgblock</param-name>
      <param-value>0</param-value>
    </init-param>
    -->
  </filter>

  <filter-mapping>
    <filter-name>BrotliFilter</filter-name>
    <url-pattern>/canterbury-corpus/*</url-pattern>
  </filter-mapping>

</web-app>